src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:nettypublisher="http://www.mulesoft.org/schema/mule/nettypublisher"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/nettypublisher http://www.mulesoft.org/schema/mule/nettypublisher/1.0-SNAPSHOT/mule-nettypublisher.xsd">
        
    <nettypublisher:config name="nettyPublisher" nettyPublisherName="nettyPublisher">
    	<nettypublisher:publishers>
    		<nettypublisher:publisher key="publisher1">8091</nettypublisher:publisher>
    		<nettypublisher:publisher key="publisher2">8092</nettypublisher:publisher>
    	</nettypublisher:publishers>
    </nettypublisher:config>

    <flow name="testFlow" processingStrategy="synchronous">
        <nettypublisher:server port="8090"/>
        <logger message="#[payload]" level="INFO" />
        
       	<nettypublisher:publish publisher="publisher1" data="#[payload]"/>
        
        <expression-transformer expression="org.mule.transport.NullPayload.getInstance()"/>
    </flow>

</mule>
