src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:nettypublisher="http://www.mulesoft.org/schema/mule/nettypublisher"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/nettypublisher http://www.mulesoft.org/schema/mule/nettypublisher/1.0-SNAPSHOT/mule-nettypublisher.xsd">

        
    <nettypublisher:config name="nettyPublisher" nettyPublisherName="nettyPublisher">
    	<nettypublisher:publishers>
    		<nettypublisher:publisher key="publisher1">8091</nettypublisher:publisher>
    		<nettypublisher:publisher key="publisher2">8092</nettypublisher:publisher>
    	</nettypublisher:publishers>
    </nettypublisher:config>

    <flow name="testFlowPublisher1" processingStrategy="synchronous">
        <nettypublisher:server port="8090" config-ref="nettyPublisher"/>
        <logger message="#[payload]" level="INFO" />
        
       	<nettypublisher:publish publisher="publisher1" data="#[payload]" config-ref="nettyPublisher" />
        
        <expression-transformer expression="org.mule.transport.NullPayload.getInstance()"/>
    </flow>
    
    <flow name="testFlowPublisher2">
        <logger message="#[payload]" level="INFO" />
        
        <all>
        	<!-- data="#[payload]" is the default for publish -->
       		<nettypublisher:publish publisher="publisher1" config-ref="nettyPublisher"/>
       		<nettypublisher:publish publisher="publisher2" config-ref="nettyPublisher"/>
       	</all>
       	
       	<expression-transformer expression="org.mule.transport.NullPayload.getInstance()"/>
    </flow>
    
    <flow name="testFlowClient">
    	<logger message="#[payload]" level="INFO" />
    	<nettypublisher:write host="localhost" port="8099" config-ref="nettyPublisher"/>
    </flow>

</mule>
