src/test/resources/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

	<tcp:connector name="tcpConnector">
		<tcp:direct-protocol payloadOnly="true"
			rethrowExceptionOnRead="true" />
	</tcp:connector>
	
	<flow name="tcpServerFlow">
		<tcp:inbound-endpoint host="localhost" port="8099" exchange-pattern="one-way"/>
		<object-to-string-transformer />
		<logger level="INFO" message="Received by Mule server: #[payload]"/>
		<test:component />
	</flow>
        
</mule>